<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <CodeCoverage mergeDefaults="false">
    <ModulePaths>
      <Include>
        <ModulePath>.*[\\/](Fintrack)\.[^\\/]+\.dll$</ModulePath>
      </Include>
      <Exclude>
        <ModulePath>.*[\\/](?:Fintrack\..*?)(?:\.UnitTests|\.FunctionalTests|\.IntegrationTests)\.dll$</ModulePath>
      </Exclude>
    </ModulePaths>
  </CodeCoverage>
</Configuration>
